@font-face{
	font-family:'Minion';
	src: url("../../app/sass/fonts/MinionPro-Regular.otf") format("opentype");
}

@font-face{
	font-family:'18cents';
	src: url("../../app/sass/fonts/18cents.ttf") format("truetype");

}

@font-face{
	font-family:'UnZialish';
	src: url("../../app/sass/fonts/UnZialish.ttf") format("truetype");
}
